.Background {
    background-image: url(../../../public/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.Flex {
    display: flex;
    flex-direction: row;
}

.flex-grid {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    row-gap: 16px;
    column-gap: 8px;
    flex-wrap: wrap;
}

.ControlCenter {
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
}