.Background {
    background-image: url("./background.png");
    background-size: cover;
    height: fill;
}

.NavBar {
    background-color: aquamarine;
    width: fill;
    height: 112px;
}

.RecTags {
    flex: 1;
}

.Flex {
    display: flex;
    flex-direction: row;
}

.Library {
    margin-top: 3%;
    width: 1592px;
    row-gap: 25px;
}

.flex-grid {
    display: flex;
    margin: 0 25px 0 75px;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;

}

.col {
    flex: 1;
    margin: 10px 18px 10px 18px;
    background-color: #42505C;
    height: 200px;
}

.ControlCenter {
    position: sticky;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    top: 0;
}