.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.logo {
  height: 35px;
  width: 35px;
}

.nav-buttons {
  display: flex;
  align-items: center; /* Align buttons vertically in the center */
  gap: 10px;
}

.nav-button, .login-button {
  background-color: black; /* Black background for all buttons. */
  color: white; /* White text color for all buttons */
  border: 2px solid rgb(68, 68, 68); /* White border */
  border-radius: 10px; /* Rounded rectangle border */
  padding: 5px 10px; /* Adds padding to the buttons for better styling */
  font-weight: bold; /* Bold text */
}

.nav-button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.login-button {
  background-color: #0070F3; /* Blue background for the Login button taken from Figma */
}
